@page {
    /*size: 5.4cm 8.6cm;*/
    margin: 20px;
}

.credential {
    height: 8.6cm !important;
    width: 5.4cm !important;
    /*padding: 10px;*/
    /*border: solid 1px #000000;*/
}

.height_80{
    height: 80px;
}

.cred_logo{
    max-width: 50px;
    max-height: 50px;
}

.cred_photo{
    height: 180px;
    max-width: 250px;
}